/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Silkscreen&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #161618;
    color: #f7f7fa;
    font-family: 'Inconsolata', sans-serif;
}

h1, h2 {
    font-family: 'Silkscreen', 'Inconsolata', sans-serif;
    background-color: #f8850a;
}

button {
    font-family: 'Inconsolata', sans-serif;
    padding: 13px 13px;
    z-index: 99;
    font-size: large;
    font-weight: 700;
    background-color: #ec5926;
    text-decoration: none;
    margin: .5rem;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: url(images/pexels-sebastian-hietsch-10967.webp);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
}

#blurArea {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
}

#startSection, #rulesSection, #questionsSection {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7f7fa;
    color: #161618;
    opacity: .85;
    position: relative;
    flex-direction: column;
    text-align: center;
    max-width: 40rem;
    overflow: auto;
    flex-wrap: wrap;
    font-size: 1.5rem;
    margin: auto;
    padding: 20px;
}

#playAgain {
    display: flex;
    justify-content: center;
    background-color: #f7f7fa;
    color: #161618;
    opacity: .85;
    position: relative;
    flex-direction: column;
    text-align: center;
    max-width: 40rem;
    overflow: auto;
    flex-wrap: wrap;
    font-size: 1.5rem;
    margin: auto;
}




/* Media query for smaller screens */
@media (max-width: 768px) {
    #startSection, #rulesSection, #questionsSection {
        width: 90%; 
        height: auto; 
    }
}