/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Silkscreen&display=swap');

/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Common styles for header and footer */
header, footer {
    text-align: center;
    padding: 0.75em;
}
/* Header styles */
header {
    background-color: transparent;
    position: fixed;
    padding: 0 1rem;
    z-index: 98;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
}
/* Footer styles */
footer {
    background-color: #f8850a;
    width: 100%;
    font-size: large;
    position: static;
}
/* Body styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #161618;
    color: #f7f7fa;
    font-family: 'Inconsolata', sans-serif;
    align-items: center;
    justify-content: center;
}
h1, h2 {
    font-family: 'Silkscreen', 'Inconsolata', sans-serif;
    background-color: #f8850a;
}
p {
    font-family: 'Inconsolata';
}
/* Common styles for sections */
#startSection, #rulesSection, #questionsSection, #playAgain, #thankyou, #form {
    display: flex;
    background-color: #f7f7fa;
    color: #161618;
    opacity: .85;
    position: relative;
    text-align: center;
    max-width: 40rem;
    overflow: auto;
    flex-wrap: wrap;
    font-size: 1.5rem;
    margin: auto;
    margin-top: 8.2rem;
    z-index: 99;
    border-radius: .5rem;
    padding: 20px;
    flex-direction: column;
}
ol {
    list-style-type: none;
}
ol li {
    margin-bottom: 7px;
}
/* Container styles */
.container, #form-container {
    width: 100%;
    height: 100vh;
    background-image: url(images/pexels-sebastian-hietsch-10967.webp);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
}
#blurArea {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    z-index: 0;
}
@keyframes drunkBlur {
    0%, 100% {
      filter: blur(0px);
    }
    50% {
      filter: blur(2px);
    }
  }
  @keyframes drunkWobble {
    0%, 100% {
      transform: translateX(0) rotate(0deg);
    }
    25% {
      transform: translateX(-5px) rotate(-3deg);
    }
    50% {
      transform: translateX(0) rotate(0deg);
    }
    75% {
      transform: translateX(5px) rotate(3deg);
    }
  }
  .drunk-animation {
    animation: drunkBlur 4s infinite, drunkWobble 2s infinite;
  }
  .sober-animation {
    animation: drunkWobble 3s infinite;
  }
/* Common button styles */
button {
    font-family: 'Inconsolata', sans-serif;
    padding: 13px 13px;
    z-index: 99;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: #ec5926;
    color: #f7f7fa;
    text-decoration: none;
    margin: .5rem;
    border-radius: .5rem;
}
/* Score count styles */
#count, #score {
    font-size: 3rem;
    font-family: 'Silkscreen', 'Inconsolata', sans-serif;
}

/* Feedback form styles */
#form {
    display: flex;
    background-color: #161618;
    opacity: .85;
    color: #f7f7fa;
    position: relative;
    justify-content: center; 
    align-items: center; 
}

input {
    background-color: #f7f7fa;
    margin: 0.5rem; 
}

#name-field, #good, #improvements {
    width: 70%;
    height: 2em;
}

#good, #improvements {
    height: 3em;
}

#submit {
    width: 30%;
    font-size: large;
}

/* Thank you page */
#thankyou {
    position: absolute;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    #startSection, #rulesSection, #questionsSection {
        width: 90%; 
        height: auto;
    }

    #count, #score {
        font-size: large;
    }

    h1, h2 {
        font-size: x-large;
    }

    p {
        font-size: large;
    }

    button {
        font-size: large;
    }

    footer {
        font-size: medium;
    }

    #question {
        font-size: large;
    }
}
